<div class="component__inner flipcards__inner">
  {{> component this}} 

  <div class="flipcards__main">
    {{#each _items}}
    <div class="flipcards__widget {{_classes}} large-{{../_columns._large}} medium-{{../_columns._medium}} small-{{../_columns._small}}" data-index="{{@index}}">
      <div class="flipcards__card js-flip-item" {{#if _front.title}}aria-label="{{_front.title}}"{{else}}aria-label="{{{_back.title}}}"{{/if}}>
        <img src="{{_front._icon}}" class="flipcards__icon" style="opacity:0;" aria-hidden="true" />
        <div class="flipcards__card-front">
          {{#if _front.title}}<div class="flipcards__title-front">{{_front.title}}</div>{{/if}}
          {{#if _front._icon}}<img src="{{_front._icon}}" class="flipcards__icon" aria-hidden="true" />{{/if}}
        </div>
        <div class="flipcards__card-back">
          {{#if _back.title}}<div class="flipcards__title-back">{{{_back.title}}}</div>{{/if}}
          {{#if _back.content}}<div class="flipcards__content">{{{_back.content}}}</div>{{/if}}
          {{#if _back._image}}<img src="{{_back._image}}" class="flipcards__image" {{#if _back.alt}}aria-label="{{_back.alt}}"{{else}}aria-hidden="true"{{/if}}/>{{/if}}
        </div>
      </div>
      </div>
    {{/each}}
  </div>

</div>
