<div class="component__inner flipcards__inner">
  {{> component this}} 

  <div class="flipcards__main">
    {{#each _items}}
    <div class="flipcards__widget {{_classes}} large-{{../_columns._large}} medium-{{../_columns._medium}} small-{{../_columns._small}}" data-index="{{@index}}">
      <div class="flipcards__card js-flip-item">
        <img src="{{_front._icon}}" class="flipcards__icon" style="opacity:0;" alt=""  />
        <div class="flipcards__card-front">
          {{#if _front.title}}<div class="flipcards__title-front">{{_front.title}}</div>{{/if}}
          {{#if _front._icon}}<img src="{{_front._icon}}" class="flipcards__icon" alt=""  />{{/if}}
        </div>
        <div class="flipcards__card-back">
          {{#if _back.title}}<div class="flipcards__title-back">{{{_back.title}}}</div>{{/if}}
          {{#if _back.content}}<div class="flipcards__content">{{{_back.content}}}</div>{{/if}}
          {{#if _back._image}}<img src="{{_back._image}}" class="flipcards__image" alt=""  />{{/if}}
        </div>
      </div>
      </div>
    {{/each}}
  </div>

</div>
